@model TopTrade.Web.ViewModels.User.UserDashboardViewModel

@{
    ViewData["Title"] = "User Dashboard Page";
}

@if (TempData["Message"] != null)
{
    <partial name="_ToastPartial" />
}

<div class="content-container">
    <div class="col remove-grow">
        <div class="search-bar container-fluid d-flex justify-content-center">
            <form class="search-from col-md-4 d-flex align-items-center" id="search-from">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-prepend search-icon-button">
                            <span class="input-group-text">
                                <i class="fas fa-search"></i>
                                <div class="spinner-border text-light spinner" style="display: none;">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </span>
                        </span>
                        <input class="form-control border-right-0" placeholder="Search stock">

                        <div class="close-search-bar" hidden>
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <h5 class="watchlist-header font-weight-light p-3 bg-white">My Watchlist</h5>
    </div>

    <div class="site-content">
        <div class="col table-div">
            <table class="table watchlist-table">
                <thead class="watchlist-table-header">
                    <tr>
                        <th scope="col">TICKERS</th>
                        <th scope="col" class="text-center">CHANGE</th>
                        <th scope="col" class="text-center">CHART</th>
                        <th scope="col" class="text-center">SELL</th>
                        <th scope="col" class="text-center">BUY</th>
                        <th scope="col">SENTIMENT</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stock in Model.StockWatchlist)
                    {
                        <tr>
                            <td>
                                <img class="company-logo" src="//logo.clearbit.com/@(stock.LogoName).com" alt="">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <div>
                                        <p class="mb-0 ml-2 text-uppercase font-weight-bold stock-ticker">@stock.Ticker</p>
                                        <p class="mb-0 ml-2 small stock-name">@stock.Name</p>
                                    </div>
                                    @if (stock.TradeStatus == "OPEN")
                                    {
                                        <div class="open-position-icon">
                                            <a asp-area="User" asp-controller="Portfolio" asp-action="Index">
                                                <i class="fas fa-chart-pie"></i>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </td>
                            <td class="text-center">
                                <p class="mb-0 font-weight-bold stock-price-up"><span custom-color>@stock.Change.ToString("f2")</span></p>
                                <p class="mb-0 font-weight-bold small stock-price-down"><span custom-color>(@stock.ChangePercent.ToString("f2")%)</span></p>
                            </td>
                            <td class="text-center" style="width: 230px">
                                <div class="stock-chart">
                                    <canvas id="line"></canvas>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="input-group sell-button order-type-button">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text font-weight-bold" id="btnGroupAddon">S</div>
                                    </div>
                                    <button class="form-control font-weight-bold price" data-target="#buy-button" data-toggle="modal">@(stock.Price.ToString("f2"))</button>
                                </div>
                            </td>
                            <td>
                                <div class="input-group buy-button order-type-button">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text font-weight-bold" id="btnGroupAddon">B</div>
                                    </div>
                                    <button class="form-control font-weight-bold" data-target="#buy-button"
                                            data-toggle="modal">
                                        @stock.Price.ToString("f2")
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="row pb-3">
                                    <div class="col-10">
                                        <p class="mb-0 total-buyers">@stock.BuyPercent% <span class="small">BUYING</span></p>
                                        <div class="progress h-50">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: @stock.BuyPercent%" aria-valuenow="@stock.BuyPercent" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: @(100 - stock.BuyPercent)%" aria-valuenow="@(100 - stock.BuyPercent)" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="position-relative">
                                        <i class="fas fa-ellipsis-v remove-stock-button">
                                        </i>
                                        <div class="remove-stock position-absolute" hidden>
                                            <div class="d-flex align-items-md-center px-3 py-2 shadow" hidden>
                                                <i class="far fa-calendar-times"></i>
                                                <button class="btn btn-light">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="pl-2 text-secondary" href="https://clearbit.com">Logos provided by Clearbit</a>
        </div>
    </div>
    <partial name="_UserStatisticsPartial" model="Model.UserStatistic">   
</div>


<div class="modal fade trade-stock-modal" id="buy-button" tabindex="-1" role="dialog" aria-labelledby="trade-stock-modal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <div class="text-center w-100">
                        <button class="btn btn-secondary px-5 ml-5 order-sell-btn order-type-button configure-order-button">SELL</button>
                        <button class="btn btn-secondary px-5 order-buy-btn order-type-button configure-order-button">BUY</button>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-light close-buy-sell-modal">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-0">
                    <div class="stock-buy">
                        <div class="d-flex mb-3">
                            <img class="company-logo order-company-logo" src="//logo.clearbit.com/spotify.com" alt="">
                            <div>
                                <p class="mb-0 ml-2 text-uppercase font-weight-bold te">
                                    <span class="text-secondary order-type">
                                        BUY
                                    </span>
                                    <span class="order-stock-ticker"></span>
                                </p>
                                <p class="mb-0 ml-2 small order-stock-name">Rolls-Royce</p>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend"> <span class="input-group-text">Price</span> </div>
                            <input type="text" class="form-control input-stock-price" placeholder="0.02323476" readonly="">
                            <div class="input-group-append"> <span class="input-group-text">USD</span> </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend"> <span class="input-group-text">Quantity</span> </div>
                            <input id="test" type="number" class="form-control stock-quantity">
                            <div class="input-group-append"> <span class="input-group-text">Shares</span> </div>
                        </div>
                        <p class="trade-error mt-0 text-danger text-center" hidden>Error</p>
                        <div class="input-group my-3">
                            <div class="input-group-prepend"> <span class="input-group-text">Total</span> </div>
                            <input type="text" class="form-control total-amount" readonly="" placeholder="">
                            <div class="input-group-append"> <span class="input-group-text">Amount</span> </div>
                        </div>
                        <div class="text-center mt-5 mb-3 crypt-up">
                            <p>
                                You are going to
                                <span class="font-weight-bold h5 order-type text-uppercase">
                                    <span custom-color>BUY</span>
                                </span>
                                <span class="font-weight-bold h5 order-details-quantity">
                                    0
                                </span>
                                <span class="font-weight-bold h5 order-stock-ticker">RR.</span> shares for
                            </p>
                            <h4>$ <span class="order-details-price">0.00</span></h4>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-4">
                    <hr>
                    <button type="button" disabled class="btn btn-info px-5 py-3 execute-order-button"><span class="h5 order-type text-uppercase">BUY</span> <span class="order-stock-ticker h5">RR.</span></button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/user/user-dashboard.js" type="text/javascript"></script>
    <script src="~/js/user/stock-search.js" type="text/javascript"></script>

    <script type="text/javascript">

        var ctx = document.querySelector('#line');
        if (ctx) {
            ctx = ctx.getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20",],
                    datasets: [{
                        backgroundColor: 'lightblue',
                        data: [131.46, 133.48, 133.58, 134.39, 134.72, 134.32, 131.94, 133.5, 133.11, 134.84, 134.16, 134.5, 132.03, 134.43, 131.24, 132.995, 130.36, 127.9, 126.21, 125.9, 123, 122.15, 119.9, 121.39, 121.21, 120.59, 120.09, 122.54, 123.39, 119.99, 120.53, 124.76, 125.57, 123.99, 121.03, 121.96, 119.98, 121.085, 116.36, 121.42, 120.13, 122.06, 125.12, 127.79, 121.26, 120.99, 125.35, 125.86, 126, 129.87, 129.71, 130.84, 133.19, 135.37, 135.13, 135.39, 136.01, 136.91, 136.76, 137.39, 133.94,],
                        pointRadius: 0,
                    }]
                },
                options: {
                    layout: {
                        padding: {
                            margin: -10
                        }
                    },
                    plugins: {
                        elements: {
                            point: {
                                radius: 0
                            }
                        },
                        legend: {
                            display: false
                        },
                        datalabels: {
                            display: false,
                        },
                        hidden: true,
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                display: false
                            },
                            gridLines: {
                                display: false,
                            },
                        }],
                        xAxes: [{
                            ticks: {
                                display: false
                            },
                            gridLines: {
                                display: false,
                            },
                        }],
                    },
                    legend: {
                        display: false
                    },
                },
            });
        }

    </script>
}
