@model IEnumerable<TopTrade.Web.ViewModels.AccountManager.VerificationDocumentViewModel>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Message"] != null)
{
    <partial name="_ToastPartial" />
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Document</th>
                <th scope="col"> Verification Status</th>
                <th scope="col">User Id</th>
                <th scope="col">Created On</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <div class="document-img-wrapper">
                            <img class="img-fluid" src="@user.DocumentUrl" alt="Alternate Text" />
                        </div>
                    </td>
                    <td>
                        @user.VerificationStatus
                    </td>
                    <td>
                        @user.UserId
                    </td>

                    <td>
                        @user.CreatedOn.ToLocalTime()
                    </td>
                    <td>
                        <a class="px-4 py-2 text-light bg-success rounded" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>