@model TopTrade.Web.ViewModels.AccountManager.VerificationDocumentPageViewModel

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Message"] != null)
{
    <partial name="_ToastPartial" />
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Document</th>
                <th scope="col"> Verification Status</th>
                <th scope="col">User Id</th>
                <th scope="col">Created On</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var document in Model.VerificationDocuments)
            {
                <tr>
                    <td>
                        <div class="document-img-wrapper form-group">
                            <img class="img-fluid" src="@document.DocumentUrl" alt="Alternate Text" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div custom-badge>@document.VerificationStatus</div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @document.UserId
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @document.CreatedOn.ToLocalTime()
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <a class="px-4 py-2 text-light bg-success rounded" asp-action="Edit" asp-route-id="@document.Id">Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingPartial" model="@Model">
</div>