@model TopTrade.Web.ViewModels.User.Profile.WalletHistoryViewModel

@{
    ViewData["Title"] = "Wallet History Page";
    ViewData["PageName"] = "Wallet History";
}
<div class="app-content content">
    <div class="history-content-wrapper">
        <partial name="_NavigationPartial" view-data="ViewData">
            <div class="content-body">
                <section id="pagination">
                    <div class="row">
                        <div class="col-12">
                            <div class="history-deposit-card">
                                <div class="card-header">
                                    <h4 class="card-title">Deposit</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_length">
                                                        <label>
                                                            Show <select class="custom-select custom-select-sm form-control form-control-sm">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select> entries
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                        <label>
                                                            Search:<input type="search"
                                                                          class="form-control form-control-sm"
                                                                          placeholder="">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table alt-pagination history-wrapper dataTable no-footer"
                                                           role="grid"
                                                           aria-describedby="DataTables_Table_0_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1" aria-sort="ascending"
                                                                    aria-label="Date: activate to sort column descending"
                                                                    style="width: 208px;">Date</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Coin: activate to sort column ascending"
                                                                    style="width: 217px;">Amount</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Volume: activate to sort column ascending"
                                                                    style="width: 193px;">Card Number</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_0" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Status: activate to sort column ascending"
                                                                    style="width: 199px;">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var deposit in Model.Deposits)
                                                            {
                                                                <tr role="row" class="odd">
                                                                    <td class="align-middle sorting_1">
                                                                        <div class="date">@deposit.CreatedOn</div>
                                                                    </td>
                                                                    <td class="align-middle">
                                                                        <div class="coin">
                                                                            <i class="cc BTC warning"></i>@deposit.Amount
                                                                        </div>
                                                                    </td>
                                                                    <td class="align-middle">
                                                                        <div class="volume">@deposit.CardNumber</div>
                                                                    </td>
                                                                    <td class="align-middle">
                                                                        <div class="status badge badge-success badge-pill badge-sm">
                                                                            @deposit.TransactionStatus
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="DataTables_Table_0_info"
                                                         role="status" aria-live="polite">
                                                        Showing 1 to 6 of 6 entries
                                                    </div>
                                                </div>
                                                <partial name="_PagingPartial" model="@Model.DepositsPaging" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="history-withdraw-card">
                                <div class="card-header">
                                    <h4 class="card-title">Withdraw</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="DataTables_Table_1_wrapper"
                                             class="dataTables_wrapper dt-bootstrap4 no-footer">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_length" id="DataTables_Table_1_length">
                                                        <label>
                                                            Show <select name="DataTables_Table_1_length"
                                                                         aria-controls="DataTables_Table_1"
                                                                         class="custom-select custom-select-sm form-control form-control-sm">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select> entries
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div id="DataTables_Table_1_filter" class="dataTables_filter">
                                                        <label>
                                                            Search:<input type="search"
                                                                          class="form-control form-control-sm" placeholder=""
                                                                          aria-controls="DataTables_Table_1">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table alt-pagination history-wrapper dataTable no-footer"
                                                           id="DataTables_Table_1" role="grid"
                                                           aria-describedby="DataTables_Table_1_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1" aria-sort="ascending"
                                                                    aria-label="Date: activate to sort column descending"
                                                                    style="width: 132px;">Date</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Coin: activate to sort column ascending"
                                                                    style="width: 138px;">Coin</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Volume: activate to sort column ascending"
                                                                    style="width: 121px;">Volume</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Receiver: activate to sort column ascending"
                                                                    style="width: 264px;">Receiver</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Status: activate to sort column ascending"
                                                                    style="width: 126px;">Status</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Status: activate to sort column ascending"
                                                                    style="width: 126px;">Method</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var withdraw in Model.Withdraws)
                                                            {
                                                            <tr role="row" class="odd">
                                                                <td class="align-middle sorting_1">
                                                                    <div class="date">@withdraw.CreatedOn</div>
                                                                </td>
                                                                <td class="align-middle">
                                                                    <div class="coin">
                                                                        <i class="cc BTC warning"></i>@withdraw.Amount
                                                                    </div>
                                                                </td>
                                                                <td class="align-middle">
                                                                    <div class="volume">@withdraw.Currency</div>
                                                                </td>
                                                                <td class="align-middle receiver">
                                                                    @withdraw.CardNumber
                                                                </td>
                                                                <td class="align-middle">
                                                                    <div class="status badge badge-success badge-pill badge-sm">
                                                                        @withdraw.TransactionStatus
                                                                    </div>
                                                                </td>
                                                                <td class="align-middle">
                                                                    <div class="status badge badge-success badge-pill badge-sm">
                                                                        @withdraw.PaymentMethod
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-5">
                                                    <div class="dataTables_info" id="DataTables_Table_1_info"
                                                         role="status" aria-live="polite">
                                                        Showing 1 to 4 of 4 entries
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="dataTables_paginate paging_full_numbers"
                                                         id="DataTables_Table_1_paginate">
                                                        <ul class="pagination justify-content-end">
                                                            <li class="paginate_button page-item first disabled"
                                                                id="DataTables_Table_1_first">
                                                                <a href="#"
                                                                   aria-controls="DataTables_Table_1" data-dt-idx="0"
                                                                   tabindex="0" class="page-link">First</a>
                                                            </li>
                                                            <li class="paginate_button page-item previous disabled"
                                                                id="DataTables_Table_1_previous">
                                                                <a href="#"
                                                                   aria-controls="DataTables_Table_1" data-dt-idx="1"
                                                                   tabindex="0" class="page-link">Previous</a>
                                                            </li>
                                                            <li class="paginate_button page-item active">
                                                                <a href="#"
                                                                   aria-controls="DataTables_Table_1" data-dt-idx="2"
                                                                   tabindex="0" class="page-link">1</a>
                                                            </li>
                                                            <li class="paginate_button page-item next disabled"
                                                                id="DataTables_Table_1_next">
                                                                <a href="#"
                                                                   aria-controls="DataTables_Table_1" data-dt-idx="3"
                                                                   tabindex="0" class="page-link">Next</a>
                                                            </li>
                                                            <li class="paginate_button page-item last disabled"
                                                                id="DataTables_Table_1_last">
                                                                <a href="#"
                                                                   aria-controls="DataTables_Table_1" data-dt-idx="4"
                                                                   tabindex="0" class="page-link">Last</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </div>
</div>