@model TopTrade.Web.ViewModels.User.Profile.WalletHistoryViewModel

@{
    ViewData["Title"] = "Wallet History Page";
    ViewData["PageName"] = "Wallet History";
}
<div class="app-content content">
    <div class="history-content-wrapper">
        <partial name="_NavigationPartial" view-data="ViewData">
            <div class="content-body">
                <section id="pagination">
                    <div class="row">
                        <div class="col-12">
                            <div class="history-deposit-card">
                                <div class="card-header">
                                    <h4 class="card-title">Deposit</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                            <div class="col-sm-12">
                                                <table class="table alt-pagination history-wrapper dataTable no-footer"
                                                       role="grid"
                                                       aria-describedby="DataTables_Table_0_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0"
                                                                aria-controls="DataTables_Table_0" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label="Date: activate to sort column descending"
                                                                style="width: 208px;">Date</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="DataTables_Table_0" rowspan="1"
                                                                colspan="1"
                                                                aria-label="Coin: activate to sort column ascending"
                                                                style="width: 217px;">Amount</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="DataTables_Table_0" rowspan="1"
                                                                colspan="1"
                                                                aria-label="Volume: activate to sort column ascending"
                                                                style="width: 193px;">Card Number</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="DataTables_Table_0" rowspan="1"
                                                                colspan="1"
                                                                aria-label="Status: activate to sort column ascending"
                                                                style="width: 199px;">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var deposit in Model.Deposits)
                                                        {
                                                            <tr role="row" class="odd">
                                                                <td class="align-middle sorting_1">
                                                                    <div class="date">@deposit.CreatedOn.ToLocalTime()</div>
                                                                </td>
                                                                <td class="align-middle">
                                                                    <div class="coin">
                                                                        <i class="cc BTC warning"></i>$@deposit.Amount.ToString("f2")
                                                                    </div>
                                                                </td>
                                                                <td class="align-middle">
                                                                    <div class="volume">@deposit.CardNumber</div>
                                                                </td>
                                                                <td class="align-middle">
                                                                    <div custom-badge>
                                                                        @deposit.TransactionStatus
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row d-flex justify-content-end">
                                                <partial name="_PagingPartial" model="@Model.DepositsPaging" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="history-withdraw-card">
                                <div class="card-header">
                                    <h4 class="card-title">Withdraw</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="DataTables_Table_1_wrapper"
                                             class="dataTables_wrapper dt-bootstrap4 no-footer">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table alt-pagination history-wrapper dataTable no-footer"
                                                           id="DataTables_Table_1" role="grid"
                                                           aria-describedby="DataTables_Table_1_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1" aria-sort="ascending"
                                                                    aria-label="Date: activate to sort column descending"
                                                                    style="width: 132px;">Date</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Coin: activate to sort column ascending"
                                                                    style="width: 138px;">Amount</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Volume: activate to sort column ascending"
                                                                    style="width: 121px;">Card Number</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Status: activate to sort column ascending"
                                                                    style="width: 126px;">Method</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="DataTables_Table_1" rowspan="1"
                                                                    colspan="1"
                                                                    aria-label="Status: activate to sort column ascending"
                                                                    style="width: 126px;">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var withdraw in Model.Withdraws)
                                                            {
                                                                <tr role="row" class="odd">
                                                                    <td class="align-middle sorting_1">
                                                                        <div class="date">@withdraw.CreatedOn.ToLocalTime()</div>
                                                                    </td>
                                                                    <td class="align-middle">
                                                                        <div class="coin">
                                                                            <i class="cc BTC warning"></i>$@withdraw.Amount
                                                                        </div>
                                                                    </td>
                                                                    <td class="align-middle receiver">
                                                                        @withdraw.CardNumber
                                                                    </td>
                                                                    <td class="align-middle receiver">
                                                                        Credit\Debit Card
                                                                    </td>
                                                                    <td class="align-middle">
                                                                        <div custom-badge>
                                                                            @withdraw.TransactionStatus
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-end">
                                                <partial name="_PagingPartial" model="@Model.WithdrawPaging" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </div>
</div>