@model TopTrade.Web.ViewModels.User.Stock.TradeHistoryViewModel

@{
    ViewData["Title"] = "Transactions Page";
    ViewData["PageName"] = "Transactions";
}

<div class="app-content content">
    <div class="transactions-content-wrapper">
        <partial name="_NavigationPartial" view-data="ViewData">
            <div class="content-body">
                <section id="all-transactions">
                    <div class="row">
                        <div class="col-12">
                            <div class="transactions-deposit-card">
                                <div class="card-header">
                                    <h4 class="card-title">Transactions Details</h4>
                                </div>
                                <div class="card-content mt-1">
                                    <div class="table-responsive">
                                        <table id="crypto-transaction" class="table table-hover table-xl trans-wrapper">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0">ID</th>
                                                    <th class="border-top-0">Type</th>
                                                    <th class="border-top-0">Quantity</th>
                                                    <th class="border-top-0">Price</th>
                                                    <th class="border-top-0">Total ($)</th>
                                                    <th class="border-top-0">Fee (%)</th>
                                                    <th class="border-top-0">Status</th>
                                                    <th class="border-top-0">Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var trade in Model.Trades)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="Trans-id">#@trade.Id</div>
                                                        </td>
                                                        <td>
                                                            <div class="trans-type success font-weight-bold">
                                                                <span custom-color>@trade.TradeType</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="amount">
                                                                <i class="la la-bitcoin"></i>@trade.Quantity
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="price">@trade.Price</div>
                                                        </td>
                                                        <td>
                                                            <div class="usd">@trade.TotalPrice</div>
                                                        </td>
                                                        <td>
                                                            <div class="fee">0.2</div>
                                                        </td>
                                                        <td>
                                                            <div class="status badge badge-success badge-pill badge-sm">Completed</div>
                                                        </td>
                                                        <td>
                                                            <div class="time">@trade.CreatedOn.ToLocalTime()</div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <partial name="_PagingPartial" model="@Model" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </div>
</div>