@model List<TopTrade.Web.ViewModels.User.AllNewsViewModel>


@{
    ViewData["Title"] = "News Feed";
    ViewData["PageName"] = "News Feed";
}


<div class="app-content content">
    <div class="history-content-wrapper">
        <partial name="_NavigationPartial" view-data="ViewData">
            <div class="content-body">
                <form asp-action="Search" method="get">
                    <div class="row justify-content-md-center">
                        <div class="form-group search-news-form col-md-4">
                            <div class="input-group">
                                <input name="keyword" class="form-control border-right-0" placeholder="Search stock news">
                                <span class="input-group-prepend">
                                    <button type="submit" class="input-group-text search-news-button">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </span>
                                @*<button type="submit" class="close-search-bar" hidden>
                                        <i class="fas fa-times"></i>
                                    </button>*@
                            </div>
                        </div>
                </form>
                @foreach (var article in Model)
                {
                    <div class="col-8">
                        <div class="news-card">
                            <div class="card-header">
                                <h4 class="card-title">@article.Title</h4>
                            </div>
                            <div class="card-body">
                                <div class="img-wrapper">
                                    <img class="img-fluid"
                                         src="@article.ImageUrl"
                                         alt="article image">
                                </div>
                                <hr>
                                <p>
                                    @article.Description
                                </p>
                                <div>
                                    <a href="@article.Url">Read this article</a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row justify-content-between mx-3">
                                    <p>Author: <strong>@article.Author</strong></p>
                                    <p>Published At : <strong>@article.PublishedAt</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
    </div>
</div>
</div>
@section Scripts {
    <script src="~/js/user/stock-news-search.js" type="text/javascript"></script>
}
