@model TopTrade.Web.ViewModels.User.Profile.UserPortfolioVewModel

@{
    ViewData["Title"] = "Portfolio page";
    ViewData["PageName"] = "Portfolio";
}

@if (TempData["Message"] != null)
{
    <partial name="_ToastPartial" />
}

<div class="content-container">
    <partial name="_NavigationPartial" view-data="ViewData">
        <div class="site-content mt-3">
            <div class="col table-div">
                <table class="table watchlist-table table-striped">
                    <thead class="watchlist-table-header">
                        <tr>
                            <th scope="col">STOCK NAME</th>
                            <th scope="col" class="text-center">QUANTITY</th>
                            <th scope="col" class="text-center">OPEN PRICE</th>
                            <th scope="col" class="text-center">INVESTED</th>
                            <th scope="col" class="text-center">CURRENT PRICE</th>
                            <th scope="col" class="text-center">P/L($)</th>
                            <th scope="col" class="text-center">CLOSE TRADE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        @foreach (var trade in Model.Trades)
                        {
                            <tr>
                                <td>
                                    <img class="company-logo" src="//logo.clearbit.com/@(trade.Logo).com" alt="">
                                    <div>
                                        <p class="mb-0 ml-2 text-uppercase font-weight-bold stock-ticker">@trade.StockTicker</p>
                                        <p class="mb-0 ml-2 small stock-name">@trade.StockName</p>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <p class="mb-0">@trade.Quantity</p>
                                    <p class="mb-0 font-weight-bold small text-secondary">@trade.TradeType</p>
                                </td>
                                <td class="text-center">
                                    <p class="m-0">$@trade.OpenPrice.ToString("f2")</p>
                                </td>
                                <td class="text-center">
                                    <p class="m-0">$@trade.TotalInvested.ToString("f2")</p>
                                </td>
                                <td class="text-center">
                                    <p class="m-0">$@trade.CurrentPrice.ToString("f2")</p>
                                </td>
                                <td class="text-center">
                                    <p class="mb-0 ml-2 font-weight-bold"><span custom-color>$@trade.ProfitLossInCash.ToString("f2")</span></p>
                                    <p class="mb-0 ml-2 font-weight-bold small"><span custom-color>(@trade.ProfitLossInPercent.ToString("f2")%)</span></p>
                                </td>
                                <td class="text-center" style="width: 200px">
                                    <form asp-action="CloseTrade" asp-controller="Portfolio" asp-route-id="@trade.Id" method="post">
                                        <input value="@trade.CurrentPrice" name="CurrentPrice" type="hidden" />
                                        <button type="submit" class="close-trade-button">Close</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="pl-2 text-secondary" href="https://clearbit.com">Logos provided by Clearbit</a>
            </div>
        </div>
        <partial name="_UserStatisticsPartial" model="Model.UserStatistic">
</div>

@section Scripts {
    <script src="~/js/user/user-portfolio.js" type="text/javascript"></script>
}
